.profile__avatar-wrapper {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 30px;
  overflow: hidden;
  

  background-color: #000;
  background-image: url(../../../images/edit-avatar.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25px;
}

@media screen and (max-width: 600px) {
  .profile__avatar-wrapper {
    margin-right: 0;
  }
}