.elements__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  column-gap: 17px;
  row-gap: 20px;
  width: 100%;
  justify-content: flex-start;
  
}

@media screen and (max-width: 880px) {
  .elements__container {
    justify-content: center;
  }
}