.popup__input {
  border: none;
  border-bottom: solid 1px rgba(0, 0, 0, .2);
  color: #000;
  padding: 0 0 8px;
  line-height: 1.2;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  box-sizing: border-box;
}

.popup__input:first-of-type {
  margin-top: 16px;
}

.popup__input:focus {
  outline: none;
}